In [8]:
def printEven(n):
    cnt=0;
    sum=0;
    while(cnt!=n):
        if(cnt%2==0):
            sum=sum+cnt;
        cnt=cnt+1;
    return sum;    


print(printEven(101));

2550

# Example 1
List of factors of a given number

In [6]:
def factorsList(n):
    i=1;
    while(i!=n):
        if(n%i==0):
            print(i,end=" ");
        i=i+1;
    return;

factorsList(10092);

1 2 3 4 6 12 29 58 87 116 174 348 841 1682 2523 3364 5046

# List in python

List can be written with square brackets and each item in the list seperated by comma (,) operator

List can be of any data type----- int/char/float/double or string

#### Examples of list

list1=[1,2,3,4,5]<br>
list2=["a","b","c"]<br>
list3=['maths','dyfweg','1237537247']<br>

In [8]:
list=[12,67,98,1089];
print(list)
print(list[0])

[12, 67, 98, 1089]
12

# For Loop

## syntax:
    
    
    for <varname> in <seq>:
        <statement>

In [9]:
list=["dhyfegwf","qf6wed3gt76","uyedtwgkrtwe"];
for x in list:
    print(x);

dhyfegwf
qf6wed3gt76
uyedtwgkrtwe

In [1]:
# list example with particular index

list=[1,2,3,4,5,6,7];
for x in list:
    print(x,end=" ");
    
print(" ");    
print(list[0]);
#this is slicing
print(list[3:7]);
print(list[:7]);
print(list[1:90]);
print(list[1:-1]);
print(list[1:-5]);
print(list[::2]);
print(list[::-1]);
list[2]=15 # update

# deletion
del list[1];
print(list);

#merge

list2=["fgshad","tyew"];

print(list+list2);

print(len(list+list2)); # for length of the array

list.append(1);
print(list);

print(list.count(1)); # for counting the no of times the var passed

lst1=["gitam", "python", "raptor", 1,5,"python", "python"];
print(lst1);
lst1.index("python")
lst1.index(1)


lst1.insert(2,2019)
print(lst1)


lst1.remove("python");
print(lst1);

lst1.reverse()
print(lst1)

1 2 3 4 5 6 7
1
[4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7]
[2, 3, 4, 5, 6, 7]
[2, 3, 4, 5, 6]
[2]
[1, 3, 5, 7]
[7, 6, 5, 4, 3, 2, 1]
[1, 15, 4, 5, 6, 7]
[1, 15, 4, 5, 6, 7, 'fgshad', 'tyew']
8
[1, 15, 4, 5, 6, 7, 1]
2
['gitam', 'python', 'raptor', 1, 5, 'python', 'python']
['gitam', 'python', 2019, 'raptor', 1, 5, 'python', 'python']
['gitam', 2019, 'raptor', 1, 5, 'python', 'python']
['python', 'python', 5, 1, 'raptor', 2019, 'gitam']

# List methods

#### 1. append(obj)
to append the list(add one more data)
 listname.append(var);

#### 2. count(obj)
how many times the obj passsed is counted

#### 3. index(obj)
it returns the index of passed object first occurance from left side

#### 4. insert(index,obj)
inserts the passed obj at given index

#### 5. remove(obj)
removes the passed object from 1st occurence

#### 6. reverse()
reverses the list