# EXAMPLE
sum of even numbers

In [4]:
def printeven(n):
  cnt=0;
  sum=0;
  while(cnt!=n):
    if(cnt%2==0):
     sum=sum+cnt;
    cnt=cnt+1;
  return sum;
print(printeven(20));

90

# EXAMPLE
Factors list of the given number

In [13]:
def factorsList(n):
    i = 1;
    while(i!=n):
        if(n%i==0):
            print(i);
        i = i + 1;
    return;

factorsList(12);

1
2
3
4
6

# EXAMPLE
List in python

In [16]:
list1=[1,2,3,4,5];
#Entire list
print(list1);
#List[0]
print(list1[0])

[1, 2, 3, 4, 5]
1

LIST USING FOR LOOP

In [18]:
list2=["akki","arvi","ani","akas"];
for x in list2:
  print(x);

akki
arvi
ani
akas

# EXAMPLE

In [31]:
#List example with particular index
lst1=[1,2,3,4,5,6,7]
for x in lst1:
 print(x)
print();
print(lst1[4]);
print(lst1[3:7]);
print(lst1[0:3]);
print(lst1[:3]);
print(lst1[:7]);

1
2
3
4
5
6
7
()
5
[4, 5, 6, 7]
[1, 2, 3]
[1, 2, 3]
[1, 2, 3, 4, 5, 6, 7]

# EXAMPLE

In [43]:
lst1=[1,2,3,4,5,6,7,8,9,10]
for x in lst1:
    print(x)
print();
print(lst1[1:-1]);
print(lst1[2:-2]);
print(lst1[::2]);
print(lst1[::3]);
print(lst1[::4]);
print(lst1[::-2]);
print(lst1[-1]);
print(lst1[-2]);

1
2
3
4
5
6
7
8
9
10
()
[2, 3, 4, 5, 6, 7, 8, 9]
[3, 4, 5, 6, 7, 8]
[1, 3, 5, 7, 9]
[1, 4, 7, 10]
[1, 5, 9]
[10, 8, 6, 4, 2]
10
9

# EXAMPLE
various operations on the list

In [34]:
lst1 =["anil","adarsh","akhil",1]
print(lst1);

lst1[2]=15; # update the list item
print(lst1);

del lst1[3]; # delete the list item
print(lst1);

lst1[1]="gitam";
print(lst1);
lst2=[1,2,3];
print(lst2);
print(lst1+lst2); # concatination of both the lists

['anil', 'adarsh', 'akhil', 1]
['anil', 'adarsh', 15, 1]
['anil', 'adarsh', 15]
['anil', 'gitam', 15]
[1, 2, 3]
['anil', 'gitam', 15, 1, 2, 3]

# EXAMPLE
LIST METHOD     
append:mix the given number in the list

In [49]:
lst1=[1,2,3,4,5]
print(lst1);
del lst1[2];
print(lst1);
print(len(lst1)); # user to find the len of the list
lst1.append(15);
lst1.append(150);
lst1.append(1);
lst1.append(3);
lst1.append(1);
print(lst1);
print(lst1.count(1))
print(lst1.count(3))

[1, 2, 3, 4, 5]
[1, 2, 4, 5]
4
[1, 2, 4, 5, 15, 150, 1, 3, 1]
3
1

# EXAMPLE
####index(obj)    
Its returns the index of passed object first occurance from the left side.

In [54]:
lst1=["gitam","python","raptor",1,5,"python","python"]
print(lst1)
print(lst1.index("python"))
lst1.index(1)
print(len(lst1))
lst1.insert(2,2019)
print(lst1)
print(len(lst1))
lst1.insert(4,2020)
print(lst1)

['gitam', 'python', 'raptor', 1, 5, 'python', 'python']
1
7
['gitam', 'python', 2019, 'raptor', 1, 5, 'python', 'python']
8
['gitam', 'python', 2019, 'raptor', 2020, 1, 5, 'python', 'python']

# EXAMPLE
remove(obj):The remove method removes the passed object from the first occurance from the left direction    
reverse: reverse the given object

In [55]:
lst1=["Gitam","Python","Raptor",1,5,"Python","Python"]
print(lst1)
lst1.remove("Python")
print(lst1)
lst1.remove("Python")
print(lst1)
lst1.reverse()
print(lst1)

['Gitam', 'Python', 'Raptor', 1, 5, 'Python', 'Python']
['Gitam', 'Raptor', 1, 5, 'Python', 'Python']
['Gitam', 'Raptor', 1, 5, 'Python']
['Python', 5, 1, 'Raptor', 'Gitam']

# DATA STRUCTURES

**How to store the data    List--Data structure
**How to search             Arrays--Data structure
             #### Linear search ( It can be applied on sorted/unsorted list)
             ~Linear search can be applied on unique list/duplicate list.
             Unique list--All items in the list appears only for once.
             Duplicate list--Items of the list sometimes appears more than once.
             #### Binary search
**How to sort

# EXAMPLE
Linear search

In [64]:
def linearsearch(a,taritem):
  flag=0;
  for i in range(len(a)):
    if a[i]==taritem:
      flag=1;
      break
  if(flag!=0):
    print("target item is found")
  else:
    print("target item is not found")
a=[16,2,12,6,9,7,1]
linearsearch(a,16)

target item is found

# EXAMPLE
search the number how many times repeated

In [2]:
def linearsearch(a,taritem):
    flag=0;
    for i in range(len(a)):
        if(a[i]==taritem):
            flag=flag+1
 
    print(flag);
a=[9,1,6,1,5,9,15,16]
linearsearch(a,9)

2

# EXAMPLE
Input:list     
output:indexes of targeted item (taritem)

In [3]:
def linearexample(a,taritem):
    for i in range(len(a)):
        if(a[i]==taritem):
             print(i)
 
    
a=[1,5,9,6,5,15,12,5]
linearexample(a,5)

1
4
7

# EXAMPLE
input:list    
output:a seq of characters     
test cases:   
[1,5,9,6,5,15,12,5],tar=5--[! !!!! !!!!!!!]

In [17]:
def linearexample(a,taritem):
    for i in range(len(a)):
        if(a[i]==taritem):
            j=0;
            while j!=i+1:
                 print("!");
                 j=j+1
            print(" ")
a=[1,5,9,6,5,15,12,5]
linearexample(a,5)

!
!

!
!
!
!
!

!
!
!
!
!
!
!
!

# EXAMPLE
Input:List
Output:As per the given    

Test cases:    
[15,12,2,9,18,36,45]   

A list item should be perfect multiple of 3 and 5   
Sum of all the list items which is perfect multiple of 3 and 5

In [29]:
def linearexample(a):
    sum=0
    for i in range(len(a)):
        if(a[i]%3==0 and a[i]%5==0):
                 sum=sum+a[i];
    return sum

a=[15,12,2,9,18,36,45]   
linearexample(a)

60

# EXAMPLE
input:list   
output:formatted output   
test cases:   
[1,2,3,4,5]----1 3 8 15 5

In [31]:
def linearexample(a):
    for i in range(len(a)):
        if i==0 or i==(len(a)-1):
            print(a[i])
        else:
             print(a[i-1]*a[i+1])
    
    
    
a=[1,2,3,4,5]
linearexample(a)

1
3
8
15
5

# EXAMPLE
Input:list
output:formatted output    
Test cases:   
[1,6,9,4,16,19,22] -- 1 9 19 22   
#first last print same in middle if it is even number on both sides than print

In [35]:
 def linearexample(a):
    for i in range(len(a)):
        if i==0 or i==(len(a)-1):
            print(a[i])
        elif(a[i-1]%2==0 and a[i+1]%2==0):
            print(a[i])
            
a=[1,6,9,4,16,19,22]
linearexample(a)

1
9
19
22

# EXAMPLE
Input: a number
Output:list    

Test cases:     
14569--[1,4,5,6,9]    
1974--[1,9,7,4]

In [38]:
def numbertolistconversion(n):
    lst=[]
    while n!=0:
        r=n%10
        lst.append(r)
        n=n//10
    lst.reverse()
    print(lst)
    
n=int(input("enter a number"))
numbertolistconversion(n)

enter a number14569
[1, 4, 5, 6, 9]

# EXAMPLE
list to number conversion                                                                                         
1.[1,4,5,6,9]--14569                                                                                                  
2.[1,4,5,6,9]--46(you have consider only even in the list)                                                                
3.14569--[4,6](you have consider only even digit to list) Objective     
4.[1,2,3,4,5]--[1,4,3,16,5 ]    
5.[15,19,12,16,4]--[15,34,31,28,4]

In [1]:
# Python3 program to convert a list 
# of integers into a single integer 

# creating a list 
lst = [1,4,5,6,9] 

# iterating each element 
for i in lst: 
   print(i,end="")

14569

#  EXAMPLE
[1,4,5,6,9]--46(you have consider only even in the list)

In [44]:
def linearexample(a):
    for i in range(len(a)):        
        if(a[i]%2==0):
            print(a[i])
            
a=[1,6,9,4,16,19,22]
linearexample(a)

6
4
16
22

# EXAMPLE
14569--[4,6](you have consider only even digit to list) Objective

In [6]:
def numbertolistconversion(n):
    lst=[]
    while n!=0 and n%2==0:
        r=n%10
        lst.append(r)
        n=n//10
    lst.reverse()
    print(lst)
    
n=int(input("enter a number"))
numbertolistconversion(n)

enter a number134
[4]

# Example
[1,2,3,4,5]--[1,4,3,16,5 ]

In [9]:
def linearexample(a):
    for i in range(len(a)):        
        if(i%2!=0):
            a[i]=a[i]**2
            print(a[i])
            
a=[1,6,9,4,16,19,22]
linearexample(a)

36
16
361

# Example
[15,19,12,16,4]--[15,34,31,28,4]

In [21]:
def linearexample(a):
    for i in range(len(a)):
        if(i==0 or i==len(a)-1):
            print(a[i]);
        elif(i<len(a)-1):
            print(a[i-1]+a[i]);
    
            
            
a=[15,19,12,16,4]
linearexample(a)

15
34
31
28
4