# In built functions
upper()--- returns string with all charas as upper case<br>
lower()--- return lower case<br>
islower()-- return true or false if true it is lower chara orelse upper chara<br>
isupper()-- return true or false<br>

In [7]:
str='Aqours'
print(str.upper())
print(str.lower())
st='A'
s='aqours'
print(st.islower())
print(s.islower())
print(st.isupper())

AQOURS
aqours
False
True
True

In [9]:
## isnumeric()--- true or false if string is numeric
## isalpha()--- true or false if string is alphabetic

s='2345'
s1='Aqours 0 to 1'
print(s.isnumeric())
print(s1.isnumeric())
s='Aqours'
print(s.isalpha())
print(s1.isalpha())

True
False
True
False

In [18]:
## istitle()---  true if the given string's 1st character is upper case,i.e, it is as a title
## isspace()--- true or false

s='Aqours sunshine!!'
s1='Aqours Sunshine!!'
print(s.istitle())
print(s1.istitle())

print(s.isspace())
st=" "
print(st.isspace())## for null string only

False
True
False
True

# String Methods
join()    :concatinate 2 strings

split()   : returns the list the list of strings that are seperated by white space if no parameter is given

replace() : replaces the original string with new string

In [22]:
str="Aqours"
s='kon-chika'
print(" ".join(str))

A q o u r s

In [16]:
print(" ".join(["Step","Zero","To","One","Aqours","Sunshine!!"]))

Step Zero To One Aqours Sunshine!!

In [23]:
lst=["",""]
print(",".join(lst))

,

In [43]:
s="Step Zero To One Aqours Sunshine!!"
print(s.split())
print(s.split('e',2))

['Step', 'Zero', 'To', 'One', 'Aqours', 'Sunshine!!']
['St', 'p Z', 'ro To One Aqours Sunshine!!']

In [32]:
## take a string use split to make it into list
s="Step Zero To One Aqours Sunshine!!"
lst=s.split()
print(lst)
print(lst.index("One"))

['Step', 'Zero', 'To', 'One', 'Aqours', 'Sunshine!!']
3

In [33]:
s="Step Zero To One Aqours Sunshine!!"
lst=list(s)
print(lst)

['S', 't', 'e', 'p', ' ', 'Z', 'e', 'r', 'o', ' ', 'T', 'o', ' ', 'O', 'n', 'e', ' ', 'A', 'q', 'o', 'u', 'r', 's', ' ', 'S', 'u', 'n', 's', 'h', 'i', 'n', 'e', '!', '!']

In [36]:
s="µ's music start"
print(s.replace("µ's","Aqours"))

Aqours music start